body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #000000;
    padding: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

.display {
    background-color: #000000;
    color: #fff;
    font-size: 2.5em;
    font-weight: lighter;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #303030;
    border: none;
    padding: 20px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    width: 100%;
    box-sizing: border-box;
}

#changecolor1 {
    background-color: #aeadad;
    color: black;
}

button:hover {
    background-color: #ccc;
}

.operator {
    background-color: #ff9800;
    color: white;
    font-size: 1.5em;
}

.uniquecolor2 {
    background-color: #ff5722;
    color: white;
}

